@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?mnqpag');
  src:  url('../fonts/icomoon.eot?mnqpag#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mnqpag') format('truetype'),
    url('../fonts/icomoon.woff?mnqpag') format('woff'),
    url('../fonts/icomoon.svg?mnqpag#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-top:before {
  content: "\e90c";
}
.icon-arrow-left:before {
  content: "\e90b";
}
.icon-arrow-right:before {
  content: "\e90d";
}
.icon-visibility:before {
  content: "\e90a";
}
.icon-bin:before {
  content: "\e900";
}
.icon-call:before {
  content: "\e901";
  color: #fc4a1a;
}
.icon-facebook:before {
  content: "\e902";
}
.icon-heart:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-location:before {
  content: "\e905";
  color: #fc4a1a;
}
.icon-mail:before {
  content: "\e906";
  color: #fc4a1a;
}
.icon-message:before {
  content: "\e907";
  color: #fc4a1a;
}
.icon-cart:before {
  content: "\e908";
}
.icon-vk:before {
  content: "\e909";
}
