html,
body {
	min-height: 100vh;
}
body {
	@include font-gilroy;
	color: #000;
	&.modal-open {
		overflow: hidden;
	}
}
p {
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	@media (max-width: 991px) {
		font-size: 14px;
		line-height: 16px;
	}
}


.animated {
	animation-duration: $animDurationMain;
	animation-fill-mode: both;
	opacity: 0;
}
@keyframes fadeInRight{
	0%{
		opacity: 0;
		transform: translate3d(200px,0,0);
	}
	to{
		opacity:1;
		transform: translate3d(0px,0,0);
	}
}
@keyframes fadeInLeft{
	0%{
		opacity: 0;
		transform: translate3d(-200px,0,0);
	}
	to{
		opacity:1;
		transform: translate3d(0px,0,0);
	}
}



.block-title {
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
}
.block-text {
	color: #898989;
}
.title-rare {
	font-weight: 500;
	font-size: 72px;
	line-height: 85px;
	color: #F4F1EC;
	@media (max-width: 991px) {
		font-size: 48px;
		line-height: 54px;
	}
}
.font-weight-500 {
	font-weight: 500;
}
.font-14 {
	font-size: 14px;
	line-height: 16px;
}
.font-16 {
	font-size: 16px;
	line-height: 18px;
}
.font-lg-16 {
	@media (min-width: 992px) {
		font-size: 16px;
		line-height: 18px;
	}
}
.font-18 {
	font-size: 18px;
	line-height: 24px;
}
.font-24 {
	font-size: 24px;
	line-height: 28px;
}
.font-50 {
	font-size: 50px;
	line-height: 64px;
}
.pt-40 { padding-top: 40px; }
.pt-50 { padding-top: 50px; }
.pt-70 { padding-top: 70px; } 
.pt-100 { padding-top: 100px; }
.pb-30 { padding-bottom: 30px; }

.pb-100 { padding-bottom: 100px; }
.pt-lg-80 {
	@media (min-width: 992px) {
		padding-top: 80px;
	}
}
.pt-lg-115 {
	@media (min-width: 992px) {
		padding-top: 115px;
	}
}
.pb-25 { padding-bottom: 25px; }
.pb-40 { padding-bottom: 40px; }
.pb-50 { padding-bottom: 50px; }
.pb-70 { padding-bottom: 70px; }
.pb-90 { padding-bottom: 90px; }
.pb-lg-50 { @media (min-width: 992px) { padding-bottom: 50px; } }
.pt-25 { padding-top: 25px; }
.pt-lg-50 {
	@media (min-width: 992px) {
		padding-top: 50px;
	}
}
.pt-lg-65 {
	@media (min-width: 992px) {
		padding-top: 65px;
	}
}
.pt-lg-75 {
	@media (min-width: 992px) {
		padding-top: 75px;
	}
}
.pb-lg-65 {
	@media (min-width: 992px) {
		padding-bottom: 65px;
	}
}
.pt-lg-110 {
	@media (min-width: 992px) {
		padding-top: 110px;
	}
}
.pb-lg-110 {
	@media (min-width: 992px) {
		padding-bottom: 110px;
	}
}
.pb-lg-185 { @media (min-width: 992px) { padding-bottom: 185px; } }
.pb-lg-260 {
	@media (min-width: 992px) {
		padding-bottom: 260px;
	}
}