.btn {
	color: #000000;
	border: 1px solid #e5e3e3;
	padding: 15px 26px;
	border-radius: 0px;

	font-size: 18px;
	line-height: 21px;
	font-weight: bold;
	color: #000;

	transition: $transitionMain;
	&:hover {
		background-color: #e5e3e3;
	}
	&.btn_around-15 {
		border-radius: 15px;
	}
	&.btn_main {
		color: #FFFFFF;
		border-color: $colorMain;
		background-color: $colorMain;
		&:hover {
			color: #000;
			background: none;
		}
	}
}


.btn-to-top {
	cursor: pointer;
	width: 45px;
	height: 45px;
	background-color: #fff;
	border: 1px solid $colorMain;

	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	z-index: 5;
	bottom: 25px;
	right: -100px;
	transition: $transitionMain;
	.btn-to-top__content {
		font-size: 16px;
		color: #000;
		transition: $transitionMain;
	}
	&.btn-to-top_show {
		right: 15px;
	}
	&:hover {
		background-color: $colorMain;
		.btn-to-top__content {
			transition: $transitionMain;
			color: #fff;
		}
	}
}