footer(class="footer")
	div(class="footer-top")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-4 pb-5 pb-lg-0")
					span(class="block-header font-24 font-weight-500 mb-3 d-block")
						| Контактная информация
					div(class="d-flex flex-column align-items-start")
						div()
							span(class="footer__item mr-2")
								| Телефон:
							a(class="link_color" href="tel:+73511234567")
								| +7 351 123-45-67
						div()
							span(class="footer__item mr-3")
								| Email:
							a(class="link_color" href="mailto:info@mail.ru")
								| info@mail.ru
				div(class="col-12 col-lg-4 d-none d-lg-block")
					span(class="block-header font-24 font-weight-500 mb-3 d-block")
						| Категории товаров
					div(class="d-flex flex-column align-items-start")
						each item in ["Подушки", "Обувь", "Косметика", "Бижутерия", "Парфюм"]
							a(class="link" href="#")
								= item
				div(class="col-12 col-lg-4")
					span(class="block-header font-24 font-weight-500 mb-3 d-block")
						| Подписывайтесь
					div(class="social d-flex align-items-center")
						a(class="social__link" href="#")
							span(class="icon-instagram")
						a(class="social__link" href="#")
							span(class="icon-vk")
						a(class="social__link" href="#")
							span(class="icon-facebook")
	div(class="footer-bottom")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-6")
					a(href="#" class="font-14")
						| Политика конфиденциальности
				div(class="col-12 col-lg-6 d-none d-lg-flex justify-content-lg-end")
					a(href="https://deksis.ru/" class="font-14")
						| Разработка сайта DEKSIS.RU