div(class="menu-modal")
	div(class="menu-modal__content")
		<div class="d-flex justify-content-between align-items-center mb-4">
			a(class="logo" href="#")
				| 7 желаний
			div(class="menu-modal__close")
		</div>
		nav(class="navigation navigation_mobile d-flex flex-column align-items-start")
			each item, index in ["Главная", "Каталог", "Услуги", "О компании", "Контакты"]
				if(index == 1)
					a(class="navigation__link navigation__link_active" href="epiclegend.ru")
						= item
				else
					a(class="navigation__link" href="#")
						= item
		div(class="menu-modal__block d-flex justify-content-center")
			a(class="header-phone" href="tel:+73511234567")
				| +7 351 123-45-67
		div(class="social d-flex align-items-center justify-content-center")
			a(class="social__link" href="#")
				span(class="icon-instagram")
			a(class="social__link" href="#")
				span(class="icon-vk")
			a(class="social__link" href="#")
				span(class="icon-facebook")