header(class="header")
	div(class="container-fluid")
		div(class="row")
			div(class="col-12 d-flex align-items-center justify-content-between")
				a(class="logo" href="#")
					| 7 желаний
				div(class="d-flex align-items-center")
					nav(class="navigation d-none d-lg-flex")
						each item, index in ["Главная", "Каталог", "Услуги", "О компании", "Контакты"]
							if(index == 1)
								a(class="navigation__link navigation__link_active" href="#")
									= item
							else
								a(class="navigation__link" href="#")
									= item
					a(class="header-phone d-none d-lg-block" href="tel:+73511234567")
						| +7 351 123-45-67
					div(class="minicart")
						<!-- убрать класс minicart__link_btn если не нужно открывать меню -->
						a(class="minicart__link minicart__link_btn" href="#")
							span(class="icon-cart")
							<span class="minicart__count">2</span>						
					div(id="burger" class="d-flex d-lg-none ml-3")
						span
	<div class="minicart__dropdown">
		div(class="minicart__dropdown_content")
			div(class="d-flex justify-content-end pb-3")
				span(class="minicart__dropdown_close")
					| +
			ul(class="minicart__list-content")
				-for (let i = 0; i < 10; i++)
					li(class="minicart__product")
						<div class="minicart__preview">
							<a href="#">
								<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
							</a>
						</div>
						<div class="minicart__title">
							<a href="#">MVTH Leather watch - BouleVard Edit</a>
							<span> 1 × <span class="price">4 999 ₽</span></span>
						</div>
						form(class="minicart__delete" action="" method="")
							<a href="#">
								span(class="icon-bin")
							</a>
			<div class="minicart__total">
				span()
					| Цена
				span()
					| 4 999 ₽
			</div>
			<div class="minicart-btns d-flex flex-column">
				<a class="btn mb-3" href="#">Корзина</a>
				<a class="btn btn_main" href="#">Оформить</a>
			</div>
	</div>