.footer {
	background: #FAFAFA;
	.footer__item {
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		color: #898989;
	}
	.link {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #898989;
		margin-bottom: 11px;

		transition: $transitionMain;
		&:hover {
			text-decoration: none;
			color: $colorMain;
		}
	}
	.link_color {
		font-weight: 500;
		font-size: 18px;
		line-height: 19px;
		color: #000000;
		@media (max-width: 991px) {
			font-size: 16px;
		}
	}
	.footer-top {
		padding: 110px 0 32px 0px;
		@media (max-width: 991px) {
			padding: 30px 0 40px 0;
		}
	}
	.footer-bottom {
		padding: 33px 0 37px 0;
		border-top: 1px solid #898989;
		a {
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			color: #000000;
			transition: $transitionMain;
			&:hover {
				text-decoration: none;
				color: $colorMain;
			}
			@media (max-width: 991px) {
				color: #898989;
			}
		}
		@media (max-width: 991px) {
			border-top: 1px solid #F4F1EC;
			padding: 25px 0;
		}
	}
	
}