.pagination {
    .page-item {
        &.active {
            .page-link {
                color: $colorMain;
                background: none;
            }
        }
    }
    .page-link {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        border: 0px;
        border-radius: 0px;
        transition: $transitionMain;

        font-size: 14px;
        line-height: 18px;
        color: #000;
        svg {
            width: 10px;
            path {
                transition: $transitionMain;
            }
        }
        &:hover {
            background: none;
            color: $colorMain;
            svg {
                path {
                    stroke: $colorMain;
                }
            }
        }
    }
}