extends base.pug
block content
	include components/breadcrumbs.pug
	div(class="container pt-lg-80 pb-90")
		-for(let i = 0; i < 4; i++)
			div(class="row cart-line")
				div(class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0")
					a(href="#")
						img(class="lazyload" data-src="images/cartitem.png" alt="img" title="img")
				div(class="col-12 col-lg-5 d-flex justify-content-center justify-content-lg-start align-items-center pb-3 pb-lg-0")
					a(href="#" class="cart-line__title")
						| Наименование товара
				div(class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0")
					form(class="product-quantity pro-details-quality" action="" method="")
						<div class="cart-plus-minus">
							<input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
						</div>
				div(class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0")
					span(class="font-18")
						b
							| 3 222 ₽ 
				div(class="col-12 col-lg-1 d-flex justify-content-center align-items-center")
					a(href="#" class="cart-line__remove")
						span(class="icon-bin")
	div(class="container pb-90")
		form(class="row" action="" method="")
			div(class="col-12 col-lg-9")
				div(class="cart-block")
					h2(class="font-18 mb-4")
						b
							| Данные получателя
					div(class="row")
						div(class="col-12 col-lg-4 pb-4 pb-lg-0")
							input(class="form-control w-100" type="text" placeholder="Имя")
						div(class="col-12 col-lg-4 pb-4 pb-lg-0")
							input( class="form-control w-100" type="tel" placeholder="Телефон*")
						div(class="col-12 col-lg-4")
							input( class="form-control w-100" type="email" placeholder="E-mail*")
				div(class="cart-block")
					h2(class="font-18 mb-4")
						b
							| Варианты доставки
					div(class="d-flex flex-column flex-lg-row align-items-lg-center")
						<div class="custom-control custom-radio pb-3 pb-lg-0 mr-5">
							<input type="radio" id="delivery1" name="delivery" class="custom-control-input" >
							<label class="custom-control-label" for="delivery1">Доставка ТК</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" id="delivery2" name="delivery" class="custom-control-input" >
							<label class="custom-control-label" for="delivery2">Самовывоз</label>
						</div>
				div(class="cart-block")
					h2(class="font-18 mb-4")
						b
							| Адрес доставки
					div(class="row")
						div(class="col-12 col-lg-4 pb-4 pb-lg-0")
							input( class="form-control w-100" type="text" placeholder="Город")
						div(class="col-12 col-lg-4")
							input( class="form-control w-100" type="text" placeholder="Адрес")
				div(class="cart-block")
					h2(class="font-18 mb-4")
						b
							| Способы оплаты
					div(class="d-flex flex-column flex-lg-row align-items-lg-center")
						<div class="custom-control custom-radio pb-3 pb-lg-0 mr-5">
							<input type="radio" id="oplata1" name="oplata" class="custom-control-input" >
							<label class="custom-control-label" for="oplata1">Оплата при получении</label>
						</div>
						<div class="custom-control custom-radio">
							<input type="radio" id="oplata2" name="oplata" class="custom-control-input" >
							<label class="custom-control-label" for="oplata2">Онлайн на сайте</label>
						</div>
				div(class="")
					h2(class="font-18 mb-4")
						b
							| Комментарий
					textarea(class="form-control" placeholder="Вы можете оставить дополнительную информацию о заказе")
			div(class='col-12 col-lg-3 pt-4')
				<div class="grand-totall d-flex flex-column">
					span(class="font-18 mb-3")
						b
							| Ваш заказ
					div(class="price d-flex justify-content-between mb-4")
						span(class="font-18")
							| Итого
						span(class="font-18")
							b
								| 5 555 ₽
					div(class="d-flex justify-content-center")
						button(type="submit" class="btn btn_main btn_around-15")
							| Оформить заказ
