extends base.pug
block content
	include components/breadcrumbs.pug
	div(class="catalog pt-lg-110")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-3 order-2 order-lg-1")
					div(class="catalog-filter")
						div(class="block")
							span(class="title wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
								| Категории
							div(class="d-flex flex-column align-items-start")
								each item in ["Подушки", "Парфюмерия", "Обувь", "Бижутерия"]
									a(class="item wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s" href="#")
										= item
						div(class="block")
							span(class="title wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
								| Фильтр по цене
							div(class="price-filter pr-3 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
								div(id="slider-range")
						div(class="block")
							span(class="title wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
								| Брэнд
							div(class="d-flex flex-column align-items-start")
								<div class="custom-control custom-checkbox wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s">
									<input type="checkbox" class="custom-control-input" id="customCheck1">
									<label class="custom-control-label" for="customCheck1">Бренд 1</label>
								</div>
								<div class="custom-control custom-checkbox wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s">
									<input type="checkbox" class="custom-control-input" id="customCheck2">
									<label class="custom-control-label" for="customCheck2">Бренд 2</label>
								</div>
				div(class="col-12 col-lg-9 order-1 order-lg-2")
					div(class="row")
						div(class="col-12 d-flex justify-content-end pb-5")
							<div class="catalog-order pb-3 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s">
								<label class="mr-2">Сортировать по:</label>
								<select>
									<option value="1">по цене</option>
									<option value="2">по алфавиту</option>
									<option value="3">по популярности</option>
								</select>
							</div>
						-for(let i = 0; i < 12; i++)
							div(class="col-12 col-sm-6 col-lg-4 mb-4 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
								form(class="category-item"  action="" method="")
									div(class="category-item__info d-flex	 flex-column")
										a(href="#1" class="mb-2 voted")
											span(class="icon-heart")
										button(class="mb-2" type="submit")
											span(class="icon-cart")
									div(class="category-item__preview")
										a(href="#123")
										img(class="default-img lazyload" data-src="images/product-70.jpg" alt="img" title="img")
										img(class="hover-img lazyload" data-src="images/product-70-2.jpg" alt="img" title="img")
									div(class="d-flex justify-content-center")
										a(class="category-item__title" href="#")
											| Chanel Chance
									div(class="category-item__price-block d-flex justify-content-center align-items-center")
										span(class="now order")
											| 1 999 ₽
										span(class="old")
											| 2 999 ₽
									div(class="d-flex flex-column align-items-center d-lg-none py-4")
										button(class="btn d-flex align-items-center" type="submit")
											span(class="icon-cart mr-2")
											| В корзину
						div(class="col-12 d-flex justify-content-center pb-5 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
							<nav aria-label="Page navigation example">
								<ul class="pagination">
									<li class="page-item"><a class="page-link" href="#">
										<svg width="17" height="31" viewBox="0 0 17 31" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M15.5 1.5L1.5 15.5L15.5 29.5" stroke="black" stroke-width="2"/>
										</svg>
									</a></li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item active"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#">
										<svg width="17" height="31" viewBox="0 0 17 31" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M1.5 29.5L15.5 15.5L1.5 1.5" stroke="black" stroke-width="2"/>
										</svg>
									</a></li>
								</ul>
							</nav>