extends base.pug
block content
	include components/breadcrumbs.pug
	div(class="container pt-50 pt-lg-75")
		div(class="row justify-content-center pb-40")
			div(class="col-12 col-lg-6 text-center")
				h1(class="block-title")
					| Контакты
				p(class="block-text")
					| Вы можете связаться с нами любым удобным для вас способом.
		div(class="row")
			div(class="col-12 col-lg-4 pb-4 pb-lg-0")
				div(class="contact-item d-flex flex-column align-items-start")
					span(class="icon-call icon")
					span(class="font-18 mb-3")
						| Телефон:
					a(class="block-text font-18" href="tel:+73511234567")
						b
							| +7 351 123-45-67
			div(class="col-12 col-lg-4 pb-4 pb-lg-0")
				div(class="contact-item d-flex flex-column align-items-start")
					span(class="icon-location icon")
					span(class="font-18 mb-3")
						| Адрес:
					span(class="block-text font-18")
						b
							| Челябинск, ул. Ленина 1
			div(class="col-12 col-lg-4 pb-4 pb-lg-0")
				div(class="contact-item d-flex flex-column align-items-start")
					span(class="icon-mail icon")
					span(class="font-18 mb-3")
						| Телефон:
					a(class="block-text font-18" href="mailto:info@mail.ru")
						b
							| Email:
		div(class="row pt-50 pb-25 pb-lg-50")
			div(class="col-12")
				div(class="map")
					iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d291815.0637078299!2d61.12839508404078!3d55.1516877669631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c592cb104a3a8d%3A0xef224a2a6d1711bf!2z0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4!5e0!3m2!1sru!2sru!4v1610969525630!5m2!1sru!2sru" width="100%" height="486	" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
		div(class="row pb-50 pb-lg-185")
			div(class="col-12 text-center pb-40")
				h2(class="font-24 mb-3")
					| Контакты
				p(class="block-text")
					| Вы можете связаться с нами любым удобным для вас способом.
			div(class="col-12")
				form(action="" method="")
					div(class="row")
						div(class="col-12 col-lg-4 pb-4")
							input(class="form-control form-control_empty" placeholder="Ваше имя")
						div(class="col-12 col-lg-4 pb-4")
							input(class="form-control form-control_empty" placeholder="Email")
						div(class="col-12 col-lg-4 pb-4")
							input(class="form-control form-control_empty" placeholder="+7 (900) 000 00 00")
						div(class="col-12 pb-50")
							textarea(class="form-control form-control_empty form-control_area" placeholder="Ваше сообщение")
						div(class="col-12 d-flex justify-content-center")
							button(type="submit" class="btn btn_main")
								| отправить