extends base.pug
block content
	div(class="welcome")
		div(class="swiper-welcome swiper-container py-5 pt-lg-0")
			div(class="swiper-wrapper")
				div(class="swiper-slide")
					div(class="container")
						div(class="row align-items-center")
							div(class="col-lg-5 position-relative order-2 order-lg-1 d-flex justify-content-center d-lg-block")
								span(class="swiper-welcome__index d-none d-lg-block")
									| 01
								img(class="swiper-welcome__img img-fluid animated" src="images/product.png" alt="img" title="img")
							div(class="col-12 col-lg-6 order-1 order-lg-2 d-flex flex-column align-items-center d-lg-block")
								h1(class="swiper-welcome__title animated")
									| Новый аромат<br>от Chanel
								p(class="swiper-welcome__description animated")
									| Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. 
								a(class="swiper-welcome__link animated" href="#")
									| ПОДРОБНЕЕ
					div(class="swiper-welcome__tag d-none d-lg-block")
						| #парфюмерия
				div(class="swiper-slide")
					div(class="container")
						div(class="row align-items-center")
							div(class="col-lg-5 position-relative order-2 order-lg-1 d-flex justify-content-center d-lg-block")
								span(class="swiper-welcome__index d-none d-lg-block")
									| 02
								img(class="swiper-welcome__img img-fluid animated" src="images/product.png" alt="img" title="img")
							div(class="col-12 col-lg-6 order-1 order-lg-2 d-flex flex-column align-items-center d-lg-block")
								h1(class="swiper-welcome__title animated")
									| Новый аромат<br>от Chanel
								p(class="swiper-welcome__description animated")
									| Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. 
								a(class="swiper-welcome__link animated" href="#")
									| ПОДРОБНЕЕ
					div(class="swiper-welcome__tag d-none d-lg-block")
						| #парфюмерия
			div(class="swiper-welcome-pagination d-none d-lg-flex")
			div(class="swiper-welcome-button-prev d-none d-lg-flex")
				span(class="icon-arrow-left")
			div(class="swiper-welcome-button-next d-none d-lg-flex")
				span(class="icon-arrow-right")
	div(class="container pt-40 pt-lg-115 pb-25 pb-lg-50")
		div(class="row justify-content-center")
			div(class="col-12 col-lg-10 text-center")
				h2(class="title-rare wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
					| Мы исполняем желания
				p(class="font-14 font-lg-16 px-lg-5 font-weight-500 px-2 px-lg-0 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.5s")
					| В нашем интернет-магазине вы найдете необходимые товары для исполнения ваших самых нужных желаний.Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт сложившаяся структура организации позволяет оценить значение направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет выполнять важные задания по разработке соответствующий условий активизации.
	div(class="container pt-25 pt-lg-50")
		div( class="row justify-content-center")
			div(class="col-12 col-lg-4 text-center pb-4")
				h2(class="block-title wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
					| ТОП ПРОДАЖ
				p(class="block-text wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.5s")
					| Эти товары покупают чаще всего
	div(class="container-fluid px-lg-5 pb-lg-65")
		div(class="swiper-hot-product swiper-default swiper-container px-lg-4")
			div(class="swiper-wrapper")
				-for(let i = 0; i < 4; i++)
					div(class="swiper-slide wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0s")
						form(class="category-item"  action="" method="")
							div(class="category-item__info d-flex flex-column")
								a(href="#1" class="mb-2")
									span(class="icon-heart")
								button(class="mb-2" type="submit")
									span(class="icon-cart")
							div(class="category-item__preview")
								a(href="#123")
								img(class="default-img lazyload" data-src="images/product-70.jpg" alt="img" title="img")
								img(class="hover-img lazyload" data-src="images/product-70-2.jpg" alt="img" title="img")
							div(class="d-flex justify-content-center")
								a(class="category-item__title" href="#")
									| Chanel Chance
							div(class="category-item__price-block d-flex justify-content-center align-items-center")
								span(class="now order")
									| 1 999 ₽
								span(class="old")
									| 2 999 ₽
							div(class="d-flex flex-column align-items-center d-lg-none py-4")
								button(class="btn d-flex align-items-center" type="submit")
									span(class="icon-cart mr-2")
									| В корзину
					div(class="swiper-slide wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0s")
						form(class="category-item"  action="" method="")
							div(class="category-item__info d-flex flex-column")
								a(href="#1" class="mb-2")
									span(class="icon-heart")
								button(class="mb-2" type="submit")
									span(class="icon-cart")
							div(class="category-item__preview")
								a(href="#123")
								img(class="default-img lazyload" data-src="images/product-70.jpg" alt="img" title="img")
								img(class="hover-img lazyload" data-src="images/product-70-2.jpg" alt="img" title="img")
							div(class="d-flex justify-content-center")
								a(class="category-item__title" href="#")
									| Chanel Chance
							div(class="category-item__price-block d-flex justify-content-center align-items-center")
								span(class="now")
									| 1 999 ₽
								span(class="old")
									| 2 999 ₽
							div(class="d-flex flex-column align-items-center d-lg-none py-4")
								button(class="btn d-flex align-items-center" type="submit")
									span(class="icon-cart mr-2")
									| В корзину
			div(class="swiper-hot-product-button-prev swiper-button-prev")
				span(class="icon-arrow-left")
			div(class="swiper-hot-product-button-next swiper-button-next")
				span(class="icon-arrow-right")
	div(class="container pt-25 pt-lg-65 pb-30 pb-lg-110")
		div(class="row")
			div(class="col-12 pb-4 text-center")
				h2(class="block-title wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0s")
					| БРЕНДЫ
			div(class="col-12")
				div(class="swiper-brend swiper-default swiper-container")
					div(class="swiper-wrapper d-flex align-items-center")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0s")
							img(class="lazyload img-fluid" data-src="images/brend1.png" alt="img" title="img")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.4s")
							img(class="lazyload img-fluid" data-src="images/brend2.png" alt="img" title="img")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.8s")
							img(class="lazyload img-fluid" data-src="images/brend3.png" alt="img" title="img")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="1.2s")
							img(class="lazyload img-fluid" data-src="images/brend4.png" alt="img" title="img")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="1.6s")
							img(class="lazyload img-fluid" data-src="images/brend5.png" alt="img" title="img")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="2s")
							img(class="lazyload img-fluid" data-src="images/brend6.png" alt="img" title="img")
					div(class="swiper-brend-button-prev swiper-button-prev")
						span(class="icon-arrow-left")
					div(class="swiper-brend-button-next swiper-button-next")
						span(class="icon-arrow-right")
	div(class="container pt-lg-110 pb-25 pb-lg-260")
		div(class="row align-items-center")
			div(class="col-12 col-lg-7")
				h2(class="block-title pb-5 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
					| Ваши 7 желаний
				p(class="font-weight-500 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.6s")
					| Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт сложившаяся структура организации позволяет оценить значение направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет выполнять важные задания по разработке соответствующий условий активизации
				div(class="row pt-2 d-none d-lg-flex")
					-for(let i = 0; i < 3; i++)
						div(class="col-12 col-lg-4")
							div(class="d-flex flex-column align-items-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
								span(class="icon-message font-50")
								p(class="font-weight-500")
									| Преимущество 1
			div(class="col-12 col-lg-5 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
				img(class="lazyload w-100" data-src="images/bear.png" alt="img" title="img")