extends base.pug
block content
	include components/breadcrumbs.pug
	div(class="container pt-70 pb-100")
		div(class="row align-items-start")
			div(class="col-2 col-lg-1 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
				<div class="swiper-container gallery-thumbs">
					<div class="swiper-wrapper">
						-for(let i = 0; i < 10; i++)
							div(class="swiper-slide")
								img(class="img-fluid " src="images/product.png" alt="img" title="img")
					</div>
				</div>
			div(class="col-10 col-lg-5 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
				<div class="swiper-default swiper-container gallery-top py-5">
					<div class="swiper-wrapper">
						-for(let i = 0; i < 10; i++)
							div(class="swiper-slide")
								img(class="img-fluid " src="images/product.png" alt="img" title="img")
					</div>
					<div class="swiper-button-next">
						span(class="icon-arrow-right")
					</div>
					<div class="swiper-button-prev">
						span(class="icon-arrow-left")
					</div>
				</div>
			div(class="col-12 col-lg-6")
				div(class="product")
					h1(class="font-24 font-weight-500 mb-4 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
						| Духи Chanel Chance
					div(class="category-item__price-block d-flex align-items-center pb-4 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
						span(class="now order")
							| 1 999 ₽
						span(class="old")
							| 2 999 ₽
					p(class="wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
						| Краткое описание к товару, чтобы подчеркнуть его какие либо достоинства и качества. Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт сложившаяся структура организации позволяет оценить значение направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет выполнять важные задания по разработке соответствующий условий активизации.
					form(class="d-flex align-items-center pb-5 mb-3 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s" action="" method="")
						input(type="number" value="1" min="1" step="1")
						button(class="ml-3 btn btn_main" type="submit")
							| добавить в корзину
					div()
						div(class="brend-tag d-flex flex-wrap wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s")
							span(class="mr-1")
								| Брэнд:
							div(class="d-flex flex-wrap wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.5s")
								span(class="mr-2")
									| Chanel
		div(class="row")
			div(class="col-12 pt-5")
				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					<li class="nav-item wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.2s">
						<a class="nav-link active" id="pills-info-tab" data-toggle="pill" href="#pills-info" role="tab" aria-controls="pills-info" aria-selected="true">Описание</a>
					</li>
					<li class="nav-item wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.8s">
						<a class="nav-link" id="pills-det-tab" data-toggle="pill" href="#pills-det" role="tab" aria-controls="pills-det" aria-selected="false">Детали</a>
					</li>
					<li class="nav-item wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="1.4s">
						<a class="nav-link" id="pills-ser-tab" data-toggle="pill" href="#pills-ser" role="tab" aria-controls="pills-ser" aria-selected="false">Сертификаты</a>
					</li>
				</ul>
				<div class="tab-content wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="1s" id="pills-tabContent" >
					<div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
						p
							| Не следует, однако забывать, что рамки и место обучения кадров позволяет выполнять важные задания по разработке дальнейших направлений развития. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
						p
							| Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании существенных финансовых и административных условий. Повседневная практика показывает, что консультация с широким активом представляет собой интересный эксперимент проверки форм развития.
						p
							| Таким образом рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же начало повседневной работы по формированию позиции требуют определения и уточнения модели развития. Задача организации, в особенности же новая модель организационной деятельности играет важную роль в формировании модели развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
					</div>
					<div class="tab-pane fade" id="pills-det" role="tabpanel" aria-labelledby="pills-det-tab">...</div>
					<div class="tab-pane fade" id="pills-ser" role="tabpanel" aria-labelledby="pills-ser-tab">...</div>
				</div>
					
  
