/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/swiper/swiper.scss";
@import "variables/_variables";
@import "mixin.scss";
@import "fonts/_fonts";

@import "library/_animate.css";


@import "default/_default";
@import "preloader/_preloader";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";
@import "breadcrumb/_breadcrumb";
@import "library/jquery-ui.css";
@import "pagination/_pagination.scss";



.swiper-default {
	.swiper-button-prev,
	.swiper-button-next {
		cursor: pointer;
		position: absolute;
		z-index: 5;
		left: -100px;
		top: calc(50% - 20px);

		width: 40px;
		height: 40px;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 24px;
		color: #000;

		transition: $transitionMain;
		&:hover {
			background: $colorMain;
			color: #fff;
		}
	}
	.swiper-button-next {
		right: -100px;
		left: unset;
	}
	&:hover {
		.swiper-button-prev {
			left: 0px;
		}
		.swiper-button-next {
			right: 0px;
		}
	}
}
.content {
	padding-top: 100px;
	min-height: 100vh;
}
.welcome {
	height: 100vh;
	
	background-color: #F4F1EC;
	@media (max-width: 991px) {
		height: 100%;
		max-height: 700px;
	}
}
.swiper-welcome {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
	.swiper-slide {
		z-index: 1;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		&.swiper-slide-active {
			z-index: 2;
			.swiper-welcome__title,
			.swiper-welcome__description,
			.swiper-welcome__link {
				animation-duration: $animDurationMain;
				animation-delay: 0.1s;
				animation-name: fadeInRight;
			}
			.swiper-welcome__description {
				animation-delay: 0.5s;
			}
			.swiper-welcome__link {
				animation-delay: 0.9s;
			}
			.swiper-welcome__index {
				opacity: 1;
			}
			.swiper-welcome__img {
				opacity: 1;
				animation-duration: $animDurationMain;
				animation-delay: 0.1s;
				animation-name: fadeInLeft;
			}
		}
	}
	.swiper-welcome__index {
		position: absolute;
		opacity: 0;
		top: 50%;
		left: 40%;
		transform: translate(-50%, -50%);

		font-weight: 900;
		font-size: 545px;
		line-height: 680px;
		color: #FFFFFF;
		margin: 0px;
		opacity: 0;
		user-select: none;
		display: block;
		@media (max-width: 1400px) {
			font-size: 320px;
			line-height: 110%;
		}
	}
	.swiper-welcome__img {
		@media (max-width: 991px) {
			max-width: 250px;
		}
	}
	.swiper-welcome__title {
		font-weight: 500;
		font-size: 48px;
		line-height: 56px;
		color: #000000;
		margin-bottom: 42px;
		@media (max-width: 991px) {
			text-align: center;
		}
	}
	.swiper-welcome__description {
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		color: #898989;
		margin-bottom: 38px;
		@media (max-width: 991px) {
			text-align: center;
		}
	}
	.swiper-welcome__link {
		display: inline-block;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
		transition: $transitionMain;
		&:hover {
			text-decoration: none;
			color: $colorMain;
		}
	}
	.swiper-welcome__tag {
		position: absolute;
		top: 50%;
		left: 4%;
		transform: translateY(-50%) rotate(-90deg);
	}
	.swiper-welcome-button-prev,
	.swiper-welcome-button-next {
		-webkit-transform: translate3d(0, 0, 0); 
		transform: translate3d(0, 0, 0);

		position: absolute;
		z-index: 3;
		cursor: pointer;
		right: 16px;
		top: unset;
		bottom: 0px;
		width: 60px;
		height: 60px;
		background-color: rgba(255, 255, 255, 1);

		font-size: 26px;
		color: #000;

		display: flex;
		justify-content: center;
		align-items: center;

		transition: $transitionMain;
		&:hover {
			background-color: $colorMain;
			color: #fff;
		}
	}
	.swiper-welcome-button-prev {
		right: 126px;
	}
	.swiper-welcome-pagination {
		position: absolute;
		z-index: 2;
		left: 60px;
		bottom: 30px;
		display: flex;
		.swiper-pagination-bullet {
			display: block;
			width: 36px;
			height: 36px;
			position: relative;
			border: 1px solid transparent;
			border-radius: 100%;
			&:after {
				content: "";
				display: block;
				width: 4px;
				height: 4px;
				border-radius: 100%;
				position: absolute;
				top: calc(50% - 2px);
				left: calc(50% - 2px);
				background-color: #000;
			}
			&.swiper-pagination-bullet-active {
				border-color: #000;
			}
		}
	}
  }





.category-item {
	.category-item__info {
		position: absolute;
		top: 33px;
		right: 27px;
		z-index: 3;
		a, button {
			border: 0px;
			width: 43px;
			height: 43px;
			background-color: #fff;
			border-radius: 100%;
			display: none;
			align-items: center;
			justify-content: center;
			opacity: 0;

			font-size: 24px;
			color: #000;

			transition: $transitionMain;
			&:hover {
				text-decoration: none;
				color: #fff;
				background: $colorMain;
			}
			&:nth-child(1) {
				display: flex;
				opacity: 1;
			}
			&.voted {
				color: $colorMain;
				&:hover {
					background-color: #fff;
				}
			}
		}
		@media (max-width: 1199px) {
			top: 5px;
			right: 18px;
		}
	}
	.category-item__preview {
		display: inline-block;
		position: relative;
		overflow: hidden;
		margin-bottom: 20px;
		img {
			width: 100%;
			transition: $transitionMain;
			&.default-img {
				opacity: 1;
			}
			&.hover-img {
				position: absolute;
				top:0px;
				left: 0px;
				right: 0px;
				bottom: 0px;
				opacity: 0;
			}
		}
		a {
			position: absolute;
			z-index: 2;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
		}
	}
	.category-item__title {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
		margin-bottom: 10px;
	}
	.category-item__price-block {
		font-weight: bold;
		.now {
			font-size: 16px;
			line-height: 19px;
			color: #71A011;
			&.order {
				color: $colorMain;
			}
		}
		.old {
			margin-left: 12px;
			font-size: 14px;
			line-height: 17px;
			text-decoration-line: line-through;
			color: #898989;
		}
	}
	&:hover {
		.category-item__info {
			a, button {
				@media (min-width: 992px) {
					display: flex;
					opacity: 1;
				}
			}
		}
		.category-item__preview {
			img {
				&.default-img {
					opacity: 0;
				}
				&.hover-img {
					opacity: 1;
				}
			}
		}
	}
}


.product {
	.category-item__price-block {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		.now {
			color: #71A011;
			&.order {
				color: $colorMain;
			}
		}
		.old {
			margin-left: 30px;
			line-height: 17px;
			text-decoration-line: line-through;
			color: #898989;
		}
	}
	p {
		font-size: 18px;
		line-height: 21px;
		color: #898989;
		margin-bottom: 15px;
	}
}















.catalog {
	.catalog-filter {
		.block {
			padding-bottom: 55px;
		}
		.title {
			display: block;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
			margin-bottom: 29px;
		}
		.item {
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			color: #898989;
			margin-bottom: 20px;

			transition: $transitionMain;
			&:hover {
				text-decoration: none;
				color: $colorMain;
			}
		}
	}
}
.gallery-thumbs {
	max-height: 391px;
	.swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			width: 98%;
			box-sizing: border-box;
			border: 1px solid transparent;
			transition: 0.2s;
		}
		&.swiper-slide-thumb-active {
			img {
				border-color: $colorMain;
			}
		}
	}
	@media (max-width: 700px) {
		max-height: 200px;
	}
}







.nav-pills {
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 27px;
	padding-top: 4px;
	margin-bottom: 32px;

	display: flex;
	justify-content: center;
	.nav-link {
		padding: 0px;
		font-size: 14px;
		line-height: 16px;
		color: #000000;
		margin-right: 46px;
		transition: $transitionMain;
		&.active {
			background: none;
			color: $colorMain;
		}
		&:hover {
			color: $colorMain
		}
		&.nth-child {
			margin: 0px;
		}
	}
}











.cart-line {
	position: relative;
	padding-top: 30px;
	padding-bottom: 25px;
	&:before {
		content: "";
		display: block;
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
		height: 1px;
		background: #C4C4C4;
	}

	.cart-line__title {
		font-size: 18px;
		line-height: 21px;
		color: #000000;

		transition: $transitionMain;
		&:hover {
			text-decoration: none;
			color: $colorMain;
		}
	}
	.cart-line__remove {
		font-size: 25px;
		color: #000;

		transition: $transitionMain;
		&:hover {
			text-decoration: none;
			color: $colorMain;
		}
	}
}












.contact-item {
	border: 1px solid #E5E5E5;
	padding: 29px 37px 59px 37px;
	.icon {
		font-size: 48px;
		color: $colorMain;
		margin-bottom: 6px;
	}
	a {
		transition: $transitionMain;
		&:hover {
			text-decoration: none;
			color: $colorMain;
		}
	}
}