.logo {
	@include font-gilroy;
	font-weight: bold;
	font-size: 32px;
	line-height: 39px;
	color: #000000;
	text-transform: uppercase;
	transition: $transitionMain;
	&:hover {
		color: $colorMain;
		text-decoration: none;
	}
	@media (max-width: 991px) {
		font-size: 24px;
		line-height: 28px;
	}
	@media (max-width: 500px) {
		font-size: 18px;
		line-height: 22px;
	}
}
.header {
	height: 100px;
	padding: 40px 80px 21px 80px;
	background-color: #fff;
	position: fixed;
	z-index: 2;
	top: 0px;
	left: 0px;
	right: 0px;
	@media (max-width: 1300px) {
		padding: 40px 0px 20px 0px;
	}
}
.navigation {
	.navigation__link {
		@include font-gilroy;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
		margin-right: 40px;
		transition: $transitionMain;
		&:hover {
			text-decoration: none;
			color: $colorMain;
		}
		&.navigation__link_active {
			color: $colorMain;
			border-bottom: 1px solid $colorMain;
		}
		&:last-child {
			margin: 0px;
		}
	}
	&.navigation_mobile {
		.navigation__link {
			margin-right: 0px;
			margin-bottom: 8px;

			font-size: 18px;
			line-height: 24px;
		}
	}
}
.header-phone {
	@include font-gilroy;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	margin-left: 90px;

	transition: $transitionMain;
	&:hover {
		text-decoration: none;
		color: $colorMain;
	}
	@media (max-width: 1300px) {
		margin-left: 20px;
	}
	@media (max-width: 991px) {
		font-size: 20px;
		line-height: 24px;
	}
	@media (max-width: 500px) {
		font-size: 16px;
		line-height: 18px;
	}
}
.minicart {
	margin-left: 84px;
	position: relative;
	.minicart__link {
		display: block;
		position: relative;
		color: #000;
		font-size: 18px;
		width: 46px;
		height: 18px;
		.minicart__count {
			position: absolute;
			top: -8px;
			righT: 0px;
			width: 21px;
			height: 21px;
			background-color: $colorMain;
			border-radius: 100%;
	
			display: flex;
			align-items: center;
			justify-content: center;
	
			@include font-gilroy;
			font-size: 14px;
			line-height: 16px;
			color: #fff;
	
		}
		&:hover {
			text-decoration: none;
			color: $colorMain;
			transition: $transitionMain;
			.minicart__count {
				color: #fff;
			}
		}
	}
	@media (max-width: 1300px) {
		margin-left: 20px;
	}
}

.minicart__dropdown {
	position: fixed;
	z-index: 10;
	right: -110%;
	top: 0;
	bottom: 0px;
	left: 110%;
	opacity: 0;
	
	display: flex;
	justify-content: flex-end;
	background-color: rgba(0, 0, 0, 0.75);

	transition: $transitionMain;
	.minicart__dropdown_content {
		-webkit-box-shadow: 0 10px 12px 0 rgba(0,0,0,0.21);
		box-shadow: 0 10px 12px 0 rgba(0,0,0,0.21);
		max-width: 360px;
		width: 100%;
		background: #fff;
		padding: 20px;
	}
	.minicart__dropdown_close {
		cursor: pointer;
		font-size: 36px;
		transform: rotate(45deg);
		transition: $transitionMain;
		&:hover {
			color: $colorMain;
			transform: rotate(225deg);
		}
	}
	.minicart__list-content {
		padding: 0px;
		margin: 0px;
		max-height: 40vh;
		overflow-y: scroll;
		.minicart__product {
			list-style: none;
			display: flex;
			padding-right: 6px;
			margin-bottom: 18px;
		}
		.minicart__preview {
			min-width: 70px;
			min-height: 90px;
			width: 70px;
			height: 90px;
			overflow: hidden;
		}
		.minicart__title {
			padding: 0 6px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			a {
				font-size: 16px;
				line-height: 18px;
				color: #000;
				transition: $transitionMain;
				margin-bottom: 10px;
				&:hover {
					color: $colorMain;
					text-decoration: none;
				}
			}
			.price {
				color: $colorMain;
			}
		}
		.minicart__delete {
			a {
				font-size: 18px;
				color: #000;
				transition: $transitionMain;
			}
			&:hover {
				a {
					color: $colorMain;
					text-decoration: none;
				}
			}
		}
	}
	.minicart__total {
		padding: 15px 0px;
		margin: 18px 20px 18px 0px;
		border-top: 1px dashed #e5e5e5;
		border-bottom: 1px dashed #e5e5e5;

		display: flex;
		justify-content: space-between;
		span {
			font-size: 18px;
			&:last-child {
				font-size: 22px;
				color: $colorMain;
				font-weight: bold;
			}
		}
	}
	.minicart-btns {
		padding-right: 20px;
	}
	&.minicart__dropdown_active {
		opacity: 1;
		left: 0px;
		right: 0px;
	}
}

.menu-modal {
	background-color: rgba(0,0,0, 0.7);
	position: fixed;
	z-index: 10;
	top: 0px;
	left: 105%;
	right: -105%;
	bottom: 0px;
	display: flex;
	justify-content: flex-end;
	
	transition: $transitionMain;
	.menu-modal__content {
		background-color: rgba(255, 255, 255, 1);
		width: 100%;
		height: 100%;
		max-width: 300px;
		padding: 40px 20px;
	}
	.menu-modal__close {
		height: 20px;
		width: 20px;
		cursor: pointer;
		position: relative;
		&:before, 
		&:after {
			top: 50%;
			margin-top: -2px;
			margin-right: -20px;
			display: inline-block;
			background-color: #2d2a2a;
			position: absolute;
			content: "";
			width: 20px;
			height: 2px;
			right: auto;
		}
		&:before {
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			transition: background-color .25s ease,transform .25s ease,-webkit-transform .25s ease;
		}
		&:after {
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
			transition: background-color .25s ease,transform .25s ease,-webkit-transform .25s ease;
		}
		&:hover {
			&:before,
			&:after {
				background-color: $colorMain;
				-webkit-transform: rotate(0deg);
				-ms-transform: rotate(0deg);
				transform: rotate(0deg);
			}
		}
	}
	.menu-modal__block {
		padding: 15px 0;
		margin: 18px 0;
		border-top: 1px dashed #e5e5e5;
		border-bottom: 1px dashed #e5e5e5;
	}
	.header-phone {
		margin: 0px;
	}
	&.menu-modal_active {
		left: 0px;
		right: 0px;
	}
}



.social {
	.social__link {
		font-size: 36px;
		line-height: 42px;
		color: #000;
		margin-right: 14px;

		transition: $transitionMain;
		&:hover {
			color: $colorMain;
			text-decoration: none;
		}
		&:last-child {
			margin: 0px;
		}
	}
}
#burger {
	width: 30px;
	height: 30px;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
	span {
		position: relative;
		width: 22px;
		height: 2px;
		background-color: #000;
		transition: $transitionMain;
		&:after,
		&:before {
			position: absolute;
			left: 0px;
			right: 0px;
			content: "";
			height: 2px;
			background-color: #000;
			transition: $transitionMain;
		}
		&:before {
			top: -6px;
		}
		&:after {
			bottom: -6px;
		}
	}
	&:hover {
		span {
			background-color: $colorMain;
			&:before,
			&:after {
				background-color: $colorMain;
			}
		}
	}
}